## Домашнее задание 4: Contingency Table

### О задании

1) In your data set, select a subset with 3 to 6 features related, more or less, to the same aspect and explain your choice.

2) Visualize the data subset using standardization with two versions of normalization: (a) over ranges and (b) over standard deviations. At these visualizations, use a distinct shape/colour for points representing a pre-specified by you group of objects.

3) Apply the conventional PCA for visualization and see if there is any difference with respect to (a)/(b) above. Comment on which of the normalizations is better, in your opinion, and why.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [22]:
df = pd.read_csv('../../data/Accidents0515-04.csv')
ff = {"Urban_or_Rural_Area", "Light_Conditions", "Road_Type"}
df.head()

   Road_Type  Light_Conditions  Urban_or_Rural_Area
0          6                 1                    1
1          3                 4                    1
2          6                 4                    1
3          6                 1                    1
4          6                 7                    1

In [23]:
df.columns

Index(['Road_Type', 'Light_Conditions', 'Urban_or_Rural_Area'], dtype='object')

Выберем три признака, которые более-менее имеют отношение к одному и тому же аспекту:
"Urban_or_Rural_Area", "Light_Conditions", "Road_Type"
Все эти признаки - внешние факторы, которые влияют на управляемость автомобилем.

In [24]:
pd.read_csv('../../data/Road_Type.csv')

   code                         label
0     1                    Roundabout
1     2                One way street
2     3              Dual carriageway
3     6            Single carriageway
4     7                     Slip road
5     9                       Unknown
6    12      One way street/Slip road
7    -1  Data missing or out of range

In [25]:
pd.read_csv('../../data/Light_Conditions.csv')

   code                         label
0     1                      Daylight
1     4         Darkness - lights lit
2     5       Darkness - lights unlit
3     6        Darkness - no lighting
4     7   Darkness - lighting unknown
5    -1  Data missing or out of range

In [26]:
pd.read_csv('../../data/Urban_Rural.csv')

   code        label
0     1        Urban
1     2        Rural
2     3  Unallocated